
.living-entity {
    position: absolute;

    width: 30px;
    height: 30px;
    background-size: 30px;
}

.human-entity {
    background-image: url("../../assets/human.png");
}

.rabbit-entity {
    background-image: url("../../assets/rabbit.png");
}

.wolf-entity {
    background-image: url("../../assets/wolf.png");
}

.bear-entity {
    background-image: url("../../assets/bear.png");
}

.static-entity {
    position: absolute;
}

.grass-entity {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url("../../assets/grass.png");
}