
#game-interface {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
}

#current-time {

    position: absolute;
    font-weight: bold;

    left: 5px;
    top: 5px;

    width: auto;
    height: 16px;
    line-height: 16px;

}